.home-page-container
  .landing
    background: url("../../utils/imgs/cover.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 100vh
    background-position: 50% 40%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: whitesmoke
    .text
      display: flex
      flex-direction: column
      .title-container
        padding: 1em
        border: 10px solid whitesmoke
        font-size: 3.5em
        line-height: 10px
      .sign-in-button
        margin: 1em 0
      .mouse-icon
        animation-name: up-down
        animation-duration: 1s
        animation-iteration-count: infinite
  .home-page-wrapper
    width: 80%
    margin: 0 auto
    .benefits
      margin: 1.3em 0
  .home-page-benefits
    .benefits
      list-style-type: none


@keyframes up-down
  0%
    transform: translateY(0)
  50%
    transform: translateY(60%)
  100%
    transform: translateY(0)