.navigation
  background: #1e1e23
  display: flex
  justify-content: center
  align-items: center
  height: 160px
  .right-icons
    position: absolute
    right: 2em
    display: flex
    align-items: center
    color: white
    .user-icon
      width: 50px
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      margin-left: 2em
  .logo-img
    z-index: 100
    img
      height: 135%
  .menu-icon
    color: white
    z-index: 100
    cursor: pointer
    position: absolute
    left: 10px
  .logo
    width: 100px
  .logo-text
    font-weight: bold
    line-height: 0
  .cart-icon
    color: whitesmoke
    img
      width: 50px


.custom-shape-divider-top-1663860861
  position: absolute
  top: 0
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0



.custom-shape-divider-top-1663860861 svg
  position: relative
  display: block
  width: calc(100% + 1.3px)
  height: 150px
  transform: rotateY(180deg)



.custom-shape-divider-top-1663860861 .shape-fill
  fill: rgb(35, 35, 42)



@media screen and (max-width: 500px)
  .navigation
    .right-icons
      .user-icon
        margin: 0