.parallax
  background-attachment: fixed
  height: 40vh
  background-size: cover
  background-repeat: no-repeat
  color: whitesmoke
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  font-size: 4em
  border: 10px solid whitesmoke
  .content-container
    border: 5px solid whitesmoke
    padding: .5em
    text-align: center
    line-height: 0
    img
      width: 100px