.product-info-container
  .other-products-container
    .products
      display: flex
      justify-content: center
      gap: .7em
    .title
      font-size: 2em
  width: 70%
  margin: 3em auto
  .basic-info-container
    display: flex
    img
      border-radius: 10px
      width: 100%
      height: auto
    .aside-left
      display: flex
      .aside
        margin: 0 2em
        .product-title
          font-size: 2.3em
        .price
          font-size: 1.5em
  .reviews
    margin: 1em
  .heart
    margin: 0 1em
  .no-user-reviews
    text-align: center
    p
      margin: 2em 0
  .stars
    display: flex
  .fa
    margin: 0 .3em
  .aside-content
    width: 50%
    margin: 0 auto
    margin-left: 1em

@media screen and (max-width: 1000px)
  .product-info-container
    .basic-info-container
      flex-direction: column
  .product-info-container
    .other-products-container
      .products
        grid-template-columns: 1fr

@media screen and (max-width: 1500px)
  .product-info-container
    .other-products-container
      .products
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 0
