.checkout-item-container
  display: flex
  text-align: center
  align-items: center
  margin: 1em 0
  img
    border-radius: 10px
  .basic-info
    margin: 0 1em
  .fa
    margin: 0 .4em
  .quantity-utils
    display: flex
    align-items: center
