.reviews-home-page-container
  margin: 2em 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  .left-caret
    color: #1e1e23
    position: absolute
    left: 5em
  .right-caret
    color: #1e1e23
    position: absolute
    right: 5em
