.profile-dropdown-container
  width: fit-content
  border-radius: 10px
  background: white
  padding: 1em
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  text-align: center
  z-index: 101
  .fa
    margin: .5em .3em
  .avatar-img
    width: 100%
    border-radius: 50%
  .sign-out-button, .close-btn
    cursor: pointer

